//body {
//  width: 256px;
//  margin: 12px 24px 16px;
//  font-family: "Roboto", Arial, Helvetica, sans-serif;
//  color: #7f8c8d;
//  -webkit-font-smoothing: anti-aliased;
//}
//.title {
//  font-size: 24px;
//  color: #2c3e50;
//}

.myButton {
  text-align:center;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDD', endColorstr='#EEE');
  background-color:#dfdfdf;
}
.myButton:active {
  position:relative;
  top:1px;
}
h2 {
  font-size:30px;
}
h3
{
  padding-bottom:5px;
  margin:0;
  padding-top: 10px
}
.layout {
  border-radius: 10px;
  height: 40px;
  padding:10px;
  border:1px solid #FFF;
}
.layout a {
  color: #000;
  text-decoration: none;
  display:inline-block;
  width:90%;
  font-size: 16px;
}
.layout img {
  display:inline-block;
  float:right;

}
.layout span {
  font-size:12px;
  color:#666;
  padding:0;
  display:inline-block;
}
.layout:nth-child(even) {
  background-color: #dddddd;
}
.layout:nth-child(odd) {
  background-color: #eeeeee;
}
.layout:hover {
  background:#FFFBCC;
  border:1px solid #666;
}